{# @var plugin \imhomedia\publishpdf\Plugin #}
{# @var settings \imhomedia\publishpdf\models\Settings #}
{% set selectedSubnavItem = 'imhomedia-publishpdf-settings' %}


{% import '_includes/forms.twig' as forms %}

<h2>Issuu Settings</h2>
{{ forms.lightswitchField({
    first: false,
    id: 'issuuEnable',
    name: 'issuuEnable',
    label: 'Enable Issuu' | t('imhomedia-publishpdf'),
    on: settings.issuuEnable
}) }}


{{ forms.textField({
  label: 'Issuu Secret',
  name: 'issuuSecret',
  value: settings.issuuSecret
}) }}

{{ forms.textField({
  label: 'Issuu API Key',
  name: 'issuuApiKey',
  value: settings.issuuApiKey
}) }}

{{ forms.lightswitchField({
    first: false,
    id: 'issuuDeleteIfAssetDeleted',
    name: 'issuuDeleteIfAssetDeleted',
    label: 'Delete from Issuu if asset is (hard) deleted' | t('imhomedia-publishpdf'),
    on: settings.issuuDeleteIfAssetDeleted
}) }}

<hr />

<h2>Yumpu Settings</h2>

{{ forms.lightswitchField({
    first: false,
    id: 'yumpuEnable',
    name: 'yumpuEnable',
    label: 'Enable Yumpu' | t('imhomedia-publishpdf'),
    on: settings.yumpuEnable
}) }}

{{ forms.textField({
  label: 'Yumpu API Token',
  name: 'yumpuApiToken',
  value: settings.yumpuApiToken
}) }}

{{ forms.lightswitchField({
    first: false,
    id: 'yumpuDeleteIfAssetDeleted',
    name: 'yumpuDeleteIfAssetDeleted',
    label: 'Delete from Yumpu if asset is (hard) deleted' | t('imhomedia-publishpdf'),
    on: settings.yumpuDeleteIfAssetDeleted
}) }}

{# Genböck Yumpu API Token: z8IeFtS6EMf1jLQbuT0WHayo7mxdJ4Oi #}