{# @var plugin \abmat\publishpdf\Plugin #}
{# @var settings \abmat\publishpdf\models\Settings #}
{% set selectedSubnavItem = 'abmat-publishpdf-settings' %}


{% import '_includes/forms.twig' as forms %}

<h2>Issuu Settings</h2>
<p>{{ 'Issuu API v2 required!'|t }}</p>

{{ forms.lightswitchField({
    first: false,
    id: 'issuuEnable',
    name: 'issuuEnable',
    label: 'Enable Issuu' | t('abm-publishpdf'),
    on: settings.issuuEnable
}) }}


{{ forms.textField({
  label: 'Issuu Client ID',
  name: 'issuuClientId',
  value: settings.issuuClientId
}) }}

{{ forms.textField({
  label: 'Issuu Client Secret',
  name: 'issuuClientSecret',
  value: settings.issuuClientSecret
}) }}

{{ forms.lightswitchField({
    first: false,
    id: 'issuuDeleteIfAssetDeleted',
    name: 'issuuDeleteIfAssetDeleted',
    label: 'Delete from Issuu if asset is (hard) deleted' | t('abm-publishpdf'),
    on: settings.issuuDeleteIfAssetDeleted
}) }}

<hr />

<h2>Yumpu Settings</h2>
<p>{{ 'Please make sure you are using at least a Pro (adFree) account. Otherwise the API interface will not work'|t }}</p>

{{ forms.lightswitchField({
    first: false,
    id: 'yumpuEnable',
    name: 'yumpuEnable',
    label: 'Enable Yumpu' | t('abm-publishpdf'),
    on: settings.yumpuEnable
}) }}

{{ forms.textField({
  label: 'Yumpu API Token',
  name: 'yumpuApiToken',
  value: settings.yumpuApiToken
}) }}

{{ forms.lightswitchField({
    first: false,
    id: 'yumpuDeleteIfAssetDeleted',
    name: 'yumpuDeleteIfAssetDeleted',
    label: 'Delete from Yumpu if asset is (hard) deleted' | t('abm-publishpdf'),
    on: settings.yumpuDeleteIfAssetDeleted
}) }}

{# Genböck Yumpu API Token: z8IeFtS6EMf1jLQbuT0WHayo7mxdJ4Oi #}