{% extends "_layouts/cp" %}
{% set selectedSubnavItem = 'imhomedia-publishpdf-issuu' %}

{% set title = 'Issuu' %}

{% block content %}
    {% if documents is not null %}
        {% if documents._content.result.totalCount > 0 %}
            <h2>{{ documents._content.result.totalCount }} Documents (max. 30 documents are shown)</h2>
            <table class="data fullwidth"> 
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Link</th>
                        <th>Pages</th>
                    </tr>
                </thead>

                <tbody>
                    {% for document in documents._content.result._content %}
                        <tr>
                            <td class="thin">{{ document.document.publicationId }}</td>
                            <td>{{ document.document.name }}</td>
                            {# <td class="thin"><a href="{{ document.url }}" target="_blank" rel="noopener noreferrer">{{ document.short_url }}</a></td>
                            <td class="thin">{{ document.pages }}</td> #}
                            <td class="thin">{{ document.document.publicationId }}</td>
                            <td class="thin">{{ document.document.pageCount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>No documents uploaded to Yumpu</h2>
        {% endif %}
    {% else %}
        <h2>No documents found on Yumpu</h2>
    {% endif %}
{% endblock %}